<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>164159689649-idul9lrcnu0bdofprrje2qsf7auam6b1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164159689649-idul9lrcnu0bdofprrje2qsf7auam6b1</string>
	<key>API_KEY</key>
	<string>AIzaSyBfJCPXrKgWuetVzLBCF8fiy_qnO2VmLZs</string>
	<key>GCM_SENDER_ID</key>
	<string>164159689649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umkc.cs5551team13</string>
	<key>PROJECT_ID</key>
	<string>cs5551oauth</string>
	<key>STORAGE_BUCKET</key>
	<string>cs5551oauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164159689649:ios:3cae7beeb6f309f5</string>
	<key>DATABASE_URL</key>
	<string>https://cs5551oauth.firebaseio.com</string>
</dict>
</plist>